<li class="comment-section">
    <form id="special-comments-form" class="form comments" data-role="special-comments-form">
        <fieldset class="fieldset special-comments">
            <div class="field field-special-comments required">
                <label for="comments" class="label">
                    <span class="label"><!-- ko i18n: 'Order Comment'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <textarea id="comments" class="input-text" rows="5" cols="10"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</li>